body{
    background-color: #020b31;
    font-family: 'Quicksand', sans-serif;
    perspective: 1000px;
}

.container{
    padding:100px;
    background-color: rgba(230, 219, 219, 0.501);
    min-height: 300px;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 15px;
    position:absolute;
    top: 100px;
    left: 485px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
}

.container:hover{
    transform: perspective(1000px) rotateY(5deg) rotateX(5deg);
}

.blur{
    background-color: #FFDF00;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: blur(95px);
}

#top{
    position: absolute;
    left: 473px;
    top: 100px;
}

#bottom{
    position: absolute;
    left: 750px;
    top: 370px;
}


input[type='text']{
    border-color: #020b31;
    background-color: #e4e4e4;
    border-radius: 30px;
    overflow-x: auto;
    padding: 15px;
    margin: 20px;
    margin-left: 70px;
    margin-bottom: 63px;
    text-align: center;
}

input[type='password']{
    border-color: #020b31;
    background-color: #e4e4e4;
    border-radius: 30px;
    overflow-x: auto;
    padding: 15px;
    margin: 20px;
    margin-left: 70px;
    text-align: center;
}

.heading{
    font-family: 'Quicksand', 'sans-serif';
    font-size: xx-large;
    font-weight: 300;
    position: absolute;
    left: 223px;
    top: 40px;
}

input[type='submit']{
    border-color: #020b31;
    background-color: #e4e4e4;
    border-radius: 30px;
    overflow-x: auto;
    padding: 15px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 125px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    min-width: 80px;
    transition: transform 0.5s ease-in-out;
    color: black;
    font-weight: 500;
}

input[type="submit"]:hover{
     transform: translateY(-5px);
     float: left;
     background-color: yellow;
     color: #020b31;
}

.account{
    position: relative;
    left: 40px;
}

.error{
    min-height: fit-content;
    min-width: fit-content;
}

  
.error{
    min-height: 400px;
    min-width: 400px;
}

a{
    text-decoration: none;
}