<!-- broadcast.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broadcast Message</title>
</head>
<body>
    <!-- broadcast.html -->

<h1>Broadcast a Message</h1>
<form onsubmit="broadcastMessage(); return false;">
    <textarea id="broadcast_content" cols="30" rows="5" required></textarea>
    <br>
    <button type="submit">Broadcast</button>
</form>

<script>
    function broadcastMessage() {
        var broadcastContent = document.getElementById('broadcast_content').value;
        socket.emit('broadcast_message', { 'content': broadcastContent });
        document.getElementById('broadcast_content').value = '';
    }
</script>
</body>
</html>
